L1/booklist.dtd

<!-- 

 booklist*
 book
  title
  author (name)
  publisher 
  year (year published)
reading
   start (date)
   finish (date)
rating (1-5 stars)`
cover
-->
<!ELEMENT booklist (book, reading, rating, cover)>
 <!ELEMENT book (title, author, publisher, year)>
   <!ELEMENT title (#PCDATA)>
   <!ELEMENT author (#PCDATA)>
   <!ELEMENT publisher (#PCDATA)>
   <!ELEMENT year (#PCDATA)>
 <!ELEMENT reading (start,finish)>
   <!ELEMENT start (#PCDATA)>
   <!ELEMENT finish (#PCDATA)>
 <!ELEMENT rating (#PCDATA)>
 <!ELEMENT cover (EMPTY)>
  <!ATTLIST cover url CDATA #REQUIRED>